{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% translate 'Collateral List' %} {% endblock %}
{% block content %}
{%  include 'base/navbar.html' %}
    {% block javascript %}
    <script type="application/javascript">
    $(function() {
        // Multiple images preview in browser
        var imagesPreview = function(input, placeToInsertImagePreview) {
            if (input.files) {
                var filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        $($.parseHTML('<img width="200px">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        };
        $('#gallery-photo-add').on('change', function() {
            imagesPreview(this, 'div.gallery');
        });
    });
        </script>
    {% endblock %}
<div class="container-lg p-2" style="height: 100%; max-height: 100vh;">
    {% if  collateralDetail %}
        <h2 class="text-center my-4">{% translate 'Update Collateral' %}</h2>
    {% else %}
        <h2 class="text-center my-4">{% translate 'Create New Collateral' %}</h2>
    {% endif %}
<div class="row">
    <div class="col-sm-12 col-md-6">
    <form action="" method="POST" enctype="multipart/form-data" runat="server">
        {% csrf_token %}

            <div class="row mt-2">
                <div class="col-sm-12 col-md-2">
                    <label for="" class="form-label">{% translate 'Name' %}</label>
                </div>
                <div class="col-sm-12 col-md-10">
                    <input type="text" {% if collateralDetail %} value="{{ collateralDetail.title }}"{% endif %} name="title" class="form-control" placeholder="">
                </div>
            </div>
            {% if collateralDetail %}
             <div class="row mt-2">
                <div class="col-sm-12 col-md-2">
                    <label for="" class="form-label">{% translate 'Status' %}</label>
                </div>
             <div class="col-sm-12 col-md-10">
                <select class="form-select" name="status">
                        <option class="text-secondary-emphasis" >select status</option>
                        <option class="text-secondary-emphasis" {% if collateralDetail.status == 'active' %} selected {% endif %} value="active">Active</option>
                        <option class="text-secondary-emphasis" {% if collateralDetail.status == 'refunded' %} selected {% endif %}  value="refunded">refunded</option>
                        <option class="text-secondary-emphasis" {% if collateralDetail.status == 'expired' %} selected {% endif %} value="expired">expired</option>
                        <option class="text-secondary-emphasis" {% if collateralDetail.status == 'sold' %} selected {% endif %} value="sold">sold</option>
                    </select>
             </div>
            </div>
            {% endif %}
            <div class="row mt-2">
                <div class="col-sm-12 col-md-2">
                    <label class="form-label">{% translate 'Description' %}</label>
                </div>
                <div class="col-sm-12 col-md-10">
                    {% if collateralDetail %}
                    <textarea class="form-control" name="description" cols="5" rows="5" placeholder="{% translate 'Description' %}">
                    {{ collateralDetail.description }}
                    </textarea>
                    {% else %}
                        <textarea class="form-control" name="description" cols="5" rows="5" placeholder="{% translate 'Description' %}">
                    </textarea>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-2">
                    <label for="" class="form-label">{% translate 'Price' %}</label>
                </div>
                <div class="col-sm-12 col-md-10">
                    <input type="number" {% if collateralDetail %} value="{{ collateralDetail.price }}"{% endif %}  name="price" class="form-control" placeholder="{% translate 'Price' %}">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-2">
                    <label class="form-label">{% translate 'Condition' %}</label>
                </div>
                <div class="col-sm-12 col-md-10">
                    <select class="form-control" name="condition">
                        <option {% if collateralDetail.condition == 'new' %} selected{% endif %}  value="new">New</option>
                        <option  {% if collateralDetail.condition == 'use' %} selected{% endif %}  value="use">Use</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-2">
                    <label class="form-label">{% translate 'Date' %}</label>
                </div>
                <div class="col-sm-12 col-md-10">
                    <input type="date"  {% if collateralDetail %} value="{{ collateralDetail.date|date:'Y-m-d' }}" {% endif %}  name="date" placeholder="date" class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-2">
                    <label class="form-label">{% translate 'Expiration date' %}</label>
                </div>
                <div class="col-sm-12 col-md-10">
                    <input type="date" {% if collateralDetail %} value="{{ collateralDetail.expired_date|date:'Y-m-d' }}" {% endif %}   name="expired_date" placeholder="date" class="form-control">
                </div>
            </div>

            <label class="form-label">{% translate 'Attached Images' %}</label>
            <input class="form-control" id="gallery-photo-add" type="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg" name="image">
            <hr>
        <div class="d-flex justify-content-between align-content-center">
            <a class="btn btn-outline-dark btn-sm" href="{% url 'customer-detail' customerDetail.id %}">{% translate 'Cancel' %}</a>
            <input class="btn btn-success btn-sm" type="submit" name="{% translate 'Submit' %}">
        </div>
    </form>
</div>
    <div class="col-sm-12 col-md-6">{% for i in imageCollateral %}
        <img src="/media/{{ i.image }}" width="200px" height="200px" class="object-fit-cover"> {% endfor %}
        <div class="gallery"></div>
    </div>
</div>
</div>
    {% include 'base/footer.html' %}
{% endblock %}
