{% extends 'base/base.html' %}
{#{% block title %} Login Loan System{% endblock %}#}
{% load static %}
{% load i18n %}
{% block title %} {% translate 'Login' %} {% endblock %}
{% block content %}

<!-- LOGIN FORM  -->
<div class="form-bg">
    <div class="container-100-100 bg-dark">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8" style="max-width: 40em;">
                <div class="form-container">
                    <div class="form-icon text-center" style="">
                        <i class="fa fa-user-circle"></i>

                        <span class="d-flex flex-column">
                            <a href="https://t.me/ecstartup" title="EC Startup group" class="link-warning text-white" target="_blank">EC startup team</a>
                            <a href="https://t.me/ecstartup" title="EC Startup group" class="link-warning text-white" target="_blank">+85589555201</a>
                        </span>

                    </div>
                    <form class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                        <h3 class="title">{% translate 'User Login' %}</h3>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="text" name="username" placeholder="{% translate 'Enter email address' %}">
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" type="password" name="password" placeholder="{% translate 'Enter password' %}">
                        </div>
                        <button class="btn --bs-info-rgb">{% translate 'Login' %}</button>
                        <span class="forgot-pass"><a href="#">{% translate 'Forgot Username/Password?' %}</a></span>
                     {% if message %}
                        {% for message in messages %}
                           <span {% if message.tags %} class="{{ message.tags }}"{% endif %} class="bg-danger z-3">{{ message }}</span>
                        {% endfor %}
                    </form>
                {% endif %}
                </div>
            </div>
    </div>
</div>
<!-- END  -->
    {% include 'setting/message.html' %}

{% endblock %}
