{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en">
<![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en">
	<![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!-->
	<html class="no-js" lang="en">
		<!--<![endif]-->
		<head>
			<!--- basic page needs
			================================================== -->
			<meta charset="utf-8">
			<title>Loan Management System - 404 </title>
			<link href="{% static 'favicon_io/apple-touch-icon.png' %}" rel="shortcut icon"/>
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="description" content="Ez Startup team - Creative Agency of web developers">
			<meta name="author" content="Kuth Chi">
			<meta name="keywords" content="Loan management system (Offline and online), Digital Marketing" />
			<!-- mobile specific metas
			================================================== -->
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
			<link rel="icon" type="image/png" href="{% static 'favicon_io/favicon.png' %}">
            <link rel='stylesheet' id='wthf-style-css' href='{% static 'css/main.css' %}' media='all' />
            <link rel='stylesheet' id='wthf-style-css' href='{% static 'css/responsive.css' %}' media='all' />
			
		</head>
		<body>
			<main class="container">
			<div class="content-wrap">
				<div class="main-content">
					<div class="row">
						<h1 class="text-bg-info">404 Error.</h1>
                        <p>
							Oooooops! Looks like nothing was found at this location.
							Maybe try one of the links below, click on the top menu
							or go back?
						</p>
						<!-- /twelve -->					
					</div>
					<!-- /row -->					
				</div>
				<!-- /main-content -->
				<footer>
					<div class="row">
						
						<ul class="links">
							<li><a href="/"><p class="btn btn-primary">Homepage</p></a></li>
							<li><a href="mailto:kuthchi@outlook.com">Report Error</a></li>
						</ul>
						<div class="credits">
                            <p>Design by <a href="http://www.ezstartup.com/" title="styleshout">ezstartup.com</a></p>
						</div>
						</div>
					</div>
					<!-- /row -->					
				</footer>
			</div>
			<!-- /content-wrap -->
			</main>
			
		</body>
	</html>
