{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
    #box {
        display: none;
    }
</style>
    {% include 'base/navbar.html' %}
    <!--Message from backend -->
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="toast-body bg-success text-light my-toast p-3" id="toast">{% translate 'Add customer successfully !'%} </div>
        {% else %}
            <div class="toast-body bg-danger text-light my-toast p-3" id="toast">{% translate 'Cancel create customer ! ' %}</div>
        {% endif %}
    {% endfor %}

    <div class="col-md-12 bg-light p-2 mb-4">
        <div class="container-lg pt-title ">
             <p class="fs-7">
                 {% with url_name=request.resolver_match.url_name %}
                     <a href="{% url 'loan' %}" class="text-decoration-none  text-dark">{% translate 'Loan' %}</a> <i class="fa-solid fa-chevron-right"></i>
                     <a href="{% url 'loan' %}" class="text-decoration-none text-dark"> {% translate 'Loan List' %}</a>
                     <i class="fa-solid fa-chevron-right"></i>
                     <a href="{% url 'loan-create' %}" class="text-decoration-none {% if url_name == 'loan-create' %} text-success {% endif %}">{% translate 'Create Loan' %}</a>
                 {% endwith %}
             </p>
         </div>
    </div>

    <div class="container">
        <div class="text-center">
            <h4>{% translate 'Create New Loan' %}</h4>
        </div>
        <hr>
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 bg-light-subtle">
                <div class="mt-2 d-flex justify-content-center  p-2">
                    <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 mt-3" >
                                <div class="row">
                                    <div class="col-sm-12 col-md-3">
                                        <label class="form-label">{{ form.interest_paid.label }}</label>
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                       <div class="input-group mb-3">
                                           {{ form.interest_paid }}
                                          <span class="input-group-text" id="basic-addon1">{{company.main_currency}}</span>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3">
                                        <label for="">{{ form.principle_paid.label}}</label>
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <div class="input-group mb-3">
                                           {{ form.principle_paid }}
                                          <span class="input-group-text" id="basic-addon1">{{company.main_currency}}</span>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3">
                                        <label class="form-label" for="">{{ form.balance.label }}</label>
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <div class="input-group mb-3">
                                           {{ form.balance }}
                                          <span class="input-group-text" id="basic-addon1">{{company.main_currency}}</span>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                        <div class="col-sm-12 col-md-3">
                                        <label class="form-label">{{ form.due_date.label }}</label>
                                    </div>
                                        <div class="col-sm-12 col-md-9">
                                        {{ form.due_date }}
                                    </div>
                                </div>
                            </div>
                        </div>
{#                        {{ form.as_p }}#}
                        <div class=" my-5 d-flex justify-content-between">
                            <div class="pt-options ">
                                <a href="{% url 'loan' %}" data-toggle="modal" class="btn btn-dark mx-2"> {% translate 'Back' %} </a>
                            </div>
                            <div class="d-flex">
                                <a href="#" class="text-white">
                                <button type="submit" class="btn btn-primary form-control float-sm-end px-5">{% translate 'Save' %}</button>
                            </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
        function loanTypeDay() {
            var x = document.getElementById('Day').value;
            document.getElementById("My").innerHTML=x;
        }
        function loanTypeWeek() {
            var w = document.getElementById('Week').value;
            document.getElementById("My").innerHTML=w;
        }
        function loanTypeMonth() {
            var m = document.getElementById('Month').value;
            document.getElementById("My").innerHTML=m;
        }
        function loanType3Month() {
            var wm = document.getElementById('Quarterly').value;
            document.getElementById("My").innerHTML=wm;
        }
        function loanTypeSemester() {
            var sm = document.getElementById('semester').value;
            document.getElementById("My").innerHTML=sm;
        }
        function loanTypeYear() {
            var y = document.getElementById('year').value;
            document.getElementById("My").innerHTML=y;
        }
    </script>
    {% include 'base/footer.html' %}
{% endblock %}
