{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% block javascript %}
  <script>
  var loadImage = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };

  var loadImage1= function(event) {
    var output = document.getElementById('output1');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
  var loadImage2= function(event) {
    var output = document.getElementById('output2');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
  var loadImage3= function(event) {
    var output = document.getElementById('output3');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>

{% endblock %}
    <style>
    #box {
        display: none;
    }
    </style>
    {% include 'base/navbar.html' %}
    <div class="container-lg">
    <div class="col-12 p-3 bg-light-subtle shadow my-4">
            <div class="d-flex justify-content-between text-success-emphasis flex-wrap">
                {% if updatePaw %}
                <a href="{% url 'paw_detail' updatePaw.id %}" class="btn "> <i class="ti-arrow-left mx-2"></i>{% translate "Paw detail" %}</a>
            {% else %}
                <a href="{% url 'customer-detail' customerId.id %}" class="btn "> <i class="ti-arrow-left mx-2"></i>{% translate "Customer Paw" %}</a>
            {% endif %}
                <div class="">
                    <a class="text-decoration-none text-dark" href="{% url 'paw' %}"><i class="ti-home"></i></a> /
                    {% if updatePaw %}
                    Update detail
                    {% else %}
                    Create detail
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 my-4">
                    {% if updatePaw %}
                        <div class="text-center">
                            <h3>{% translate 'Update Paw' %}</h3>
                        </div>
                    {% else %}
                    <div class="text-center my-2">
                            <h3>{% translate 'Create Paw' %}</h3>
                        </div>
                    {% endif %}
                    <form id="form1" action="" method="POST"  runat="server" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mt-4">
                           <div class="col-sm-12 col-md-5 col-lg-6 ">
                               <label class="d-flex flex-column justify-content-center text-center"
                                    style="border: 2px dotted #333; border-radius: 10px; width: 100%; height: auto;">
                                    <input type="file" id="imgInp"
                                           onchange="loadImage(event)"
                                           accept="image/*" name="paw_image"
                                           class="d-none"
                                            {% if updatePaw %}
                                                 value="{{ updatePaw.profile_img }}"
                                            {% endif %}
                                    >
                                    {% if updatePaw %}
                                        <img id="output" src="/media/{{ updatePaw.paw_image }}" alt="" class="rounded-2 update_image object-fit-cover"
                                             width="100%" style="max-height: 500px; height:100%; ">
                                    {% else %}
                                        <img id="output" src="/static/img/upload_photo.jpg" class=" update_image rounded-2 object-fit-cover"
                                             width="100%" height="500px"
                                             alt="">
                                    {% endif %}
                               </label>
                           <style>
                               .paw-image {
                                   width:  calc( 100% - 10px / 3 );
                                   margin-right: 10px;
                                   margin-top: 10px;
                                   overflow: hidden;
                               }
                           </style>
                           <div class="d-flex" style="height: 150px;">
                                <label for="image1" class="border paw-image d-flex flex-column justify-content-center align-items-center rounded-2">
                                   <input type="file" id="image1" class="d-none"  accept="image/*"
                                           onchange="loadImage1(event)">
                                    <img id="output1" class="paw-image object-fit-cover" width="100%">
                               </label>
                               <label class="border paw-image  d-flex  justify-content-center flex-column justify-content-center align-items-center rounded-2" for="image2">
                                   <input type="file" id="image2" class="d-none  accept="image/*" onchange="loadImage2(event)">
                                   <img id="output2" class="paw-image object-fit-cover" width="100%">
                               </label>
                               <label for="image3" class="border paw-image  d-flex justify-content-center flex-column justify-content-center align-items-center rounded-2">
                                   <input type="file" id="image3" class="d-none"  accept="image/*" onchange="loadImage3(event)">
                                   <img id="output3" class="paw-image object-fit-cover" width="100%" >
                               </label>
                           </div>
                           </div>
                           <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                               <div class="row">
                                   <div class="col-sm-12 col-md-6 mt-2">
                                    <label class="form-label">{% translate 'Title' %}</label>
                                    <input type="text" name="paw_name" placeholder="{% translate 'Title' %}" class="form-control" required {% if updatePaw%} value="{{ updatePaw.paw_name }}" {% endif %}>
                                   </div>
                                   <div class="col-sm-12 col-md-6 mt-2">
                                    <label class="form-label" >{% translate 'Type' %}</label>
                                    <input type="text" name="paw_type" class="form-control" placeholder="{% translate 'Type' %}" required {% if updatePaw%} value="{{ updatePaw.paw_type }}" {% endif %}>
                                   </div>
                                   <div class="col-sm-12 col-md-12 mt-2">
                                        <label class="form-label" >{% translate 'Description' %}</label>
                                        <textarea cols="10" name="description" class="form-control" required rows="10">  {% if updatePaw %}{{ updatePaw.description }}{% endif %} </textarea>

                                   </div>
{#                               ======================== Percentage =============#}
{#                               <div class="row  mt-2">#}
{#                                    <div class="col-sm-12  col-md-6">#}
{#                                        <div class="col-sm-12 col-md-12 form-check">#}
{#                                        <span>#}
{#                                            <input type="checkbox" name="is_percentage" id="is_percentage" class="form-check-input is_percentage"#}
{#                                            data-id="percentage"#}
{#                                            {% if updatePaw.is_percentage %} checked {% endif %}>#}
{#                                        </span>#}
{#                                        <label class="form-check-label" for="is_percentage">{% translate 'Percentage' %} (%)</label>#}
{#                                       </div>#}
{#                                        <div class="col-sm-12 col-md-12 mt-2">#}
{#                                            <label class="form-label">{% translate 'Rate' %}</label>#}
{#                                            <div class="input-group">#}
{#                                                <input class="form-control" type="number" name="rate"  {% if updatePaw %} value="{{ updatePaw.rate }}" {% endif %}>#}
{#                                                <span class="input-group-text" style="display:none" id="percentage">%</span>#}
{#                                            </div>#}
{#                                       </div>#}
{#                                    </div>#}
{#                                    <script>#}
{#                                       $(function() {#}
{#                                          $(".is_percentage").on("change", function() {#}
{#                                            $(`#${this.dataset.id}`).toggle(this.checked);#}
{#                                          }).change(); // trigger the change event to initialize the state based on the initial value of the checkbox#}
{#                                        });#}
{#                                    </script>#}
{#                                    <div class="col-sm-12  col-md-6">#}
{#                                        <div class="form-check">#}
{#                                        <span>#}
{#                                            <input class="form-check-input isPrinciple"  type="checkbox" name="is_principle" data-id="sbox" checked >#}
{#                                        </span>#}
{#                                        <label class="form-check-label" for="is_percentage">{% translate 'is Principle' %}</label>#}
{#                                       </div>#}
{#                                        <div class="col-sm-12 col-md-12 mt-2" style="display:none" id="sbox">#}
{#                                            <label class="form-label">{% translate 'Pay Principle' %}</label>#}
{#                                            <input class="form-control" type="number" name=""  {% if updatePaw %} value="{{ updatePaw.rate }}" {% endif %}>#}
{#                                       </div>#}
{#                                    </div>#}
{#                                    <script>#}
{#                                       $(function() {#}
{#                                          $(".isPrinciple").on("change", function() {#}
{#                                            $(`#${this.dataset.id}`).toggle(this.checked);#}
{#                                          }).change(); // trigger the change event to initialize the state based on the initial value of the checkbox#}
{#                                        });#}
{#                                    </script>#}
{#                               </div>#}
{#                                    <div class="col-sm-12 col-md-6 mt-2">#}
{#                                        <label class="form-label">{% translate 'Date' %}</label>#}
{#                                        <input type="date" class="form-control" name="date_paw" {% if updatePaw %} value="{{ updatePaw.date_paw|date:'Y-m-d'}}" {% else %}  value="{{ today|date:'Y-m-d' }}" {% endif %} >#}
{#                                   </div>#}
{#                                    <div class="col-sm-12 col-md-6 mt-2" >#}
{#                                        <label class="form-label">{% translate 'Expiration' %}</label>#}
{#                                        <input type="date" class="form-control" name="date_expired_paw" {% if updatePaw %}value="{{ updatePaw.date_expired_paw|date:'Y-m-d'}}" {% endif %}  >#}
{#                                   </div>#}

                                   <div class="col-12 w-100 d-flex justify-content-between mt-4">
                                       {% if  updatePaw %}
                                        <a href="{% url 'paw_detail' updatePaw.id %}" class="btn btn-outline-dark ">{% translate 'Back' %}</a>
                                       {% else %}
                                        <a href="{% url 'customer-detail' customerId.id %}" class="btn btn-outline-dark ">{% translate 'Back' %}</a>
                                       {% endif %}
                                       <button type="submit" class="btn btn-success">{% translate 'Save' %}</button>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}
