{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% translate 'Distric Form' %}{% endblock %}
{% block content %}
{%  include 'base/navbar.html' %}
<div class="col-md-12 bg-light p-2 mb-4">
    <div class="container-lg pt-title ">
     <p class="fs-7">
         {% with url_name=request.resolver_match.url_name %}
             <a href="{% url 'address' %}" class="text-decoration-none  text-dark">{% translate 'Address' %}</a> <i class="fa-solid fa-chevron-right"></i>
             <a href="{% url 'district_list' %}" class="text-decoration-none text-dark {% if url_name == 'district_list' %} text-success {% endif %}">{% translate 'District' %}</a> <i class="fa-solid fa-chevron-right"></i>
             {% if districtID %}
                 <a href="{% url 'district_update' districtID %}" class="text-decoration-none {% if url_name == 'district_update' %} text-success {% endif %}"> {% translate 'Update District' %}</a>
                 {% else %}
                 <a href="{% url 'create_district' %}" class="text-decoration-none {% if url_name == 'create_district' %} text-success {% endif %}"> {% translate 'Create District' %}</a>
             {% endif %}
           {% endwith %}
     </p>
     </div>
</div>
<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 bg-light-subtle rounded-2">
            <div class="text-center my-4">
                {% if districtID %}
                    <h3>{% translate 'Update District' %}</h3>
                {% else %}
                <h3>{% translate 'Create District' %}</h3>
                {% endif %}
            </div>
            <div class="row my-4">
                <div class="col-12 my-4">
                    <div class="form-group">
                        <form class="row" action="" method="POST">
                            {% csrf_token %}
                                <div class="col-12 col-md-6 mt-2">
                                    <label class="form-label"  style="white-space: nowrap">{% translate 'Province Name' %}</label>
                                    {{ form.province_id }}
                                </div>
                                <div class="col-12 col-md-6 mt-2">
                                      <label class="form-label">{% translate 'District Name' %}:</label>
                                    {{ form.name }}
                                </div>
                                <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Name local' %}:</label>
                                        {{ form.name_local }}
                                </div>
                                 <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Short name' %}:</label>
                                        {{ form.short_name }}
                                 </div>
                                 <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Code' %}:</label>
                                        {{ form.code}}
                                 </div>
                                 <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Border with' %}:</label>
                                        {{ form.border_with }}
                                    </div>
                                 <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Border Length' %}:</label>
                                        {{ form.border_length }}
                                 </div>
                                <div class="col-12 col-md-12 mt-2">
                                          <label class="form-label">{% translate 'Hotline' %}:</label>
                                        {{ form.hotline }}
                                 </div>

                            <div class="col-12 d-flex  justify-content-between mt-4">
                            <a class="btn btn-dark" href="{% url 'district_list' %}">{% translate 'Back' %}</a>
                                {% if countryID %}
                                     <button class="btn btn-success" type="submit">{%  translate 'Update' %}</button>
                                {% else %}
                                    <button class="btn btn-success" type="submit">{% translate 'Save' %}</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'base/footer.html' %}
{% endblock %}
