{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% translate 'Country Form' %}{% endblock %}


{% block content %}
{%  include 'base/navbar.html' %}
<div class="col-md-12 bg-light p-2 mb-4">
    <div class="container-lg pt-title ">
     <p class="fs-7">
         {% with url_name=request.resolver_match.url_name %}
             <a href="{% url 'address' %}" class="text-decoration-none  text-dark">{% translate 'Address' %}</a> <i class="fa-solid fa-chevron-right"></i>
             <a href="{% url 'country_list' %}" class="text-decoration-none text-dark {% if url_name == 'country_list' %} text-success {% endif %}">{% translate 'Country list' %}</a> <i class="fa-solid fa-chevron-right"></i>
             {% if countryID %}
                 <a href="{% url 'country_update' countryID %}" class="text-decoration-none {% if url_name == 'country_update' %} text-success {% endif %}">{% translate 'Update country' %}</a>
                 {% else %}
                 <a href="{% url 'create_country' %}" class="text-decoration-none {% if url_name == 'create_country' %} text-success {% endif %}">{% translate 'Create country' %}</a>
             {% endif %}
           {% endwith %}
     </p>
     </div>
</div>
<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 bg-light-subtle rounded-2">
            <div class="text-center my-4">
                {% if countryID %}
                    <h3>{% translate 'Update Country' %}</h3>
                {% else %}
                <h3>{% translate 'Create Country' %}</h3>
                {% endif %}
            </div>
            <div class="row my-4">
                <div class="col-12 my-4">
                    <div class="form-group">
                        <form class="row" action="" method="POST">
                            {% csrf_token %}
                                <div class="col-12 col-md-6 mt-2">
                                    <label class="form-label" style="white-space: nowrap">{% translate 'Country Name' %}</label>
                                    {{ form.name }}
                                </div>
                                <div class="col-12 col-md-6 mt-2">
                                      <label class="form-label">{% translate 'Local Name' %}:</label>
                                    {{ form.name_local }}
                                </div>
                                <div class="col-12 col-md-6 mt-2">
                                      <label class="form-label">{% translate 'Short Name' %}:</label>
                                    {{ form.short_name }}
                                </div>
                                <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Code' %}:</label>
                                        {{ form.code }}
                                </div>
                                 <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Currency' %}:</label>
                                        {{ form.currency }}
                                 </div>
                                 <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Primary Language' %}:</label>
                                        {{ form.primary_language }}
                                 </div>
                                 <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Alt Languages' %}:</label>
                                        {{ form.alt_languages }}
                                    </div>
                                 <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Border With' %}:</label>
                                        {{ form.border_with }}
                                    </div>
                                 <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Border Length' %}:</label>
                                        {{ form.border_length }}
                                 </div>
                                <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Landmark' %}:</label>
                                        {{ form.landmark }}
                                 </div>
                                <div class="col-12 col-md-6 mt-2">
                                          <label class="form-label">{% translate 'Leader Name' %}:</label>
                                        {{ form.leader_name }}
                                 </div>
                                <div class="col-12 col-md-12 mt-2">
                                          <label class="form-label">{% translate 'Leader Position' %}:</label>
                                        {{ form.leader_position }}
                                 </div>
                                <div class="col-12 col-md-12 mt-2">
                                          <label class="form-label">{% translate 'Born Year' %}:</label>
                                        {{ form.born_year }}
                                 </div>
                                 <div class="col-12 col-md-6 mt-2">
                                        {{ form.is_before_chris }}
                                          <label class="form-label" >{% translate 'Is Before chris' %}:</label>
                                 </div>
                            <div class="col-12 d-flex  justify-content-between mt-4">
                            <a class="btn btn-dark" href="{% url 'country_list' %}">{% translate 'Back' %}</a>
                                {% if countryID %}
                                     <button class="btn btn-success" type="submit">{% translate 'Update' %}</button>
                                {% else %}
                                    <button class="btn btn-success" type="submit">{% translate 'Save' %}</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'base/footer.html' %}
{% endblock %}
